.bandeau {
    width: 100%;
    height: 40px;
    border-collapse: collapse;
    background: #ffffffcc;
    position: fixed;
    z-index: 999;
    color: #981d46;
    border-bottom: 1px solid #fff;
}

/* table.bandeauacceuil {
    background: rgba(0, 0, 0, 0.35);
} */

#bandeauAcceuil {
    width: 5%;
    text-align: center;
    background: #ffffff6b;
}

#bandeauAcceuil:hover {
    width: 5%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#bandeauNom {
    font-size: 20px;
    width: 65%;
    text-align: center;
    font-weight: bold;
    cursor: context-menu;
}

#bandeauProfil {
    width: 13%;
    cursor: pointer;
    background: #ffffff6b;
}

#bandeauProfil:hover {
    width: 13%;
    color: white;
    cursor: pointer;
}


#bandeauDeconnect {
    width: 17%;
    cursor: pointer;
}

#bandeauDeconnect:hover {
    width: 17%;
    color: white;
    cursor: pointer;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bandeauText {
    padding-top: 2px;
    padding-left: 10px;
}