body {
    font-family: "Lexend", sans-serif;
    
  font-family: "Kalam", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Dosis", sans-serif;
  /* font-family: "Play", sans-serif;
    
  font-family: "Acme", sans-serif; */
}

.bandeau {
    width: 100%;
    height: 40px;
    border-collapse: collapse;
    background: #ffffffcc;
    position: fixed;
    z-index: 999;
    color: #002c90;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

/* table.bandeauacceuil {
    background: rgba(0, 0, 0, 0.35);
} */

#bandeauMenuBurger {
    width: 5%;
    text-align: center;
    background: #ffffff6b;
    cursor: pointer;
}

#bandeauMenuBurger {
    color: #002c9080;
}

#bandeauAcceuil {
    width: 5%;
    text-align: center;
    background: #ffffff6b;
    cursor: pointer;
}

#bandeauAcceuil:hover {
    color: #002c9080;
}

#bandeauNom {
    font-size: 20px;
    width: 60%;
    text-align: center;
    font-weight: bold;
    cursor: context-menu;
}

#bandeauAdmin {
    width: 10%;
    cursor: pointer;
}

#bandeauAdmin:hover {
    color: #002c9080;
}


#bandeauProfil {
    width: 13%;
    cursor: pointer;
    background: #ffffff6b;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bandeauProfil:hover {
    color: #002c9080;
}


#bandeauDeconnect {
    width: 17%;
    cursor: pointer;
}

#bandeauDeconnect:hover {
    color: #002c9080;
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bandeauText {
    padding-top: 2px;
    padding-left: 10px;
}

.topnav {
  width: 15%;
  position: fixed;
  z-index: 1;
  top: -300px;
  right: 0;
  background-color: #ffffffa6;
  transition: top 0.3s ease;
  border-radius: 0 0 0 20px;
}
.topnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #000000;
  display: block;
  transition: 0.5s;
  font-weight: bold;
}
.topnav.active {
  top: 40px;
  z-index: 100;
}


.topnav a:hover {
  color: #013b95;
}

.topnav-content-item {
  transition: background-color 0.5s ease;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px white;
  font-weight: bold;
  font-size: 21px;
}

.topnav-content-item-last {
  border-radius: 0 0 0 20px;
}

.topnav-content-item:hover {
  background: #ffffff70;
  }



/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 40;
    left: -250px;
    background-color: #ffffffa6;
    padding-top: 25px;
    transition: left 0.3s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    display: block;
    transition: 0.5s;
    font-weight: bold;
  }
  
  .sidenav a:hover {
    color: #013b95;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* Active class */
  .sidenav.active {
    left: 0;
    z-index: 100;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 40;
    right: 25px;
    font-size: 36px;
  }

  .bandeauMenuBurgerHidden {
    display: none !important;
  }
  
  .sidenav-logo {
    margin: auto;
    width: 160px;
    margin: 6px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }

  .sidebar-content-item {
    transition: background-color 0.5s ease;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 1px white;
    font-weight: bold;
    font-size: 21px;
}

.sidebar-content-item:hover {
  background: #ffffff70;
  }
  
.version {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  bottom: 150px;
}