@font-face {
    font-family: Segoe;
    src: url('fonts/segoeui.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}

body {
    color: black;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5)) fixed; */
    background: -webkit-gradient(linear, left top, left bottom, from(#5e0925), to(#af6780)) fixed;
    /* background-color: #981d46; */
    background-repeat: no-repeat;
    margin: 0px;
    height: 100%;
    font-family: Roboto;
}

table {
    font-family: 'Roboto';
}

.ClassementPoints {
    text-align: center;
    width: 7%;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.ClassementSurnom {
    width: 200px;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.ClassementBonus {
    text-align: center;
    width: 65px;
    /* width: 7%; */
}

.ClassementEchec {
    width: 65px;
    /* width: 7%; */
    text-align: center;
}

.ClassementInverse {
    width: 65px;
    /* width: 7%; */
    text-align: center;
}

.ClassementCorrect {
    width: 65px;
    /* width: 8%; */
    text-align: center;
}

.ClassementCorrectp {
    width: 65px;
    /* width: 8%; */
    text-align: center;
}

.ClassementNbPerf {
    width: 65px;
    /* width: 8%; */
    text-align: center;
}

.ClassementNbPronos {
    width: 65px;
    /* width: 9%; */
    text-align: center;
}

.ClassementRang {
    width: 50px;
    text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
}

.titleSmallTexte {
    font-size: 10px;
}

.titleSmallerTexte {
    font-size: 8px;
}

table.sortable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

table.sortable thead {
    color:#000;
    background-color:#FFF;
    font-weight: bold;
    cursor: default;

}


.allListeClassement {
    width: 850px;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 600px;
    overflow-y: auto;
}

.uniqueClassement {
    padding: 10px;
}

.uniqueStatistics {
    background: #00000085;
}

.surnomClassementDiv {
    cursor: pointer;
    word-break: break-word;
    color: #FFF;
    cursor: pointer;
}

.surnomClassementDiv:hover {
    color: #000;
    cursor: pointer;
}

.homeClassementPoint {
    text-align: center;
    font-size: 20px;
    color: #FFF;
}

.homeClassementSurnom {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homeClassementRang {
    padding-left: 5px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

.homeEquipeMilieuMatch {
    text-align: center;
        width: 10px;
}

.homePointMatch {
    text-align: center;
}

.pronosMatch {
    text-align: center;
        width: 10px;
}

.homeEquipeDroiteMatch {
    width: 70px;
    text-align: right;
    padding-right: 10px;
}

.homeEquipeGaucheMatch {
    width: 70px;
    text-align: left;
    padding-left: 10px;
}

.surnomMatch {
    width: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.rangMatch {
    width: 30px;
    text-align: center;
    padding: 10px;
}

.cadreTableauJoueurMatch {
    height: 450px;
    overflow-y: scroll;
    color: #0A001D;
    font-weight: bold;
}

.TitreTableauJoueurMatchs {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;    
    color: #FFF;
}

.tableauJoueurMatchs {
    /* margin: 15px; */
    /* background: rgb(0, 0, 0); */
    /* color: #FFF; */
    margin: auto;
    /* width: 95%; */
    margin-top: 50px;
    margin-bottom: 14px;
    /* border-radius: 10px; */
    border-collapse: collapse;
    width: 500px;
    /* height: 455px; */
    border: solid 1px black;
}

.allMatch {
    width: 700px;
    PADDING: 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.56);
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tableCalendrierL1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.611764705882353)
}

.tableCalendrierL3 {
    height: 25px;
    font-size: 12px;
        text-align: center;
}

.tableCalendrierL2 {
    height: 25px;
    font-size: 12px;
        text-align: center;
}

.allListeCalendrier {
    width: 650px;
    display: block;
    margin: auto;
    
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.allPronosJoueurs {
    width: 500px;
    border: solid 1px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.45); 
}

.tableCalendrierGroup {
    width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background: rgba(228, 228, 228, 0.26);
    border-bottom: 1px solid #fff;
}

.backgroundTab1 {
    background:#9a224aa3;
}

.backgroundTab2 {
    background: #c27e94
}

.backgroundTab1Jaune {
    background: #f3e883;
}
.backgroundTab2Jaune {
    background: #fff900;
}


.backgroundTab1Bleu {
    background: #8394df;
}
.backgroundTab2Bleu {
    background: #2768ff;
}

.backgroundTab1Rose {
    background: #f97ba6;
}
.backgroundTab2Rose {
    background: rgba(255, 139, 213, 0.5411764705882353);
}


.backgroundTab1Vert {
    background: #91d27f;
}
.backgroundTab2Vert {
    background: #3ccb24;
}

.tab button.active.tablinksgeneral {
    background: #fff900;
}

.tab button.tablinksgeneral:hover {
    border-bottom: solid 2px #fff900;
}

.tab button.active.tablinksequipe {
    background: #2768ff;
}
.tab button.tablinksequipe:hover {
    border-bottom: solid 2px #2768ff;
}
.tab button.active.tablinksfemme {
    background: #ff00a3;
}
.tab button.tablinksfemme:hover {
    border-bottom: solid 2px #ff00a3;
}

.tab button.active.tablinksmontagne {
    background: #3ccb24;
}
.tab button.tablinksmontagne:hover {
    border-bottom: solid 2px #3ccb24;
}

.tab button.active.tablinksjoueur {
    background: #2768ff;
}
.tab button.tablinksjoueur:hover {
    border-bottom: solid 2px #2768ff;
}


.trNeutre {
    color: rgba(255, 255, 255, 0.14);
    font-weight: bold;
}

.classTRPerfectHome {
    color: #c0f6ff;
    text-shadow: 2px 0 #0490c7, -2px 0 #0490c7, 0 2px #0490c7, 0 -2px #0490c7, 1px 1px #0490c7, -1px -1px #0490c7, 1px -1px #0490c7, -1px 1px #0490c7;
    font-weight: bold;
}


.classTRInverseHome {
    color: #cdcdcd;
    text-shadow: 2px 0 #757575, -2px 0 #757575, 0 2px #757575, 0 -2px #757575, 1px 1px #757575, -1px -1px #757575, 1px -1px #757575, -1px 1px #757575;
    font-weight: bold;
}

.classTRCorrectHome {
    color: #b1f7c0;
    text-shadow: 2px 0 #02990d, -2px 0 #02990d, 0 2px #02990d, 0 -2px #02990d, 1px 1px #02990d, -1px -1px #02990d, 1px -1px #02990d, -1px 1px #02990d;
    font-weight: bold;
}

.classTRCorrectPlusHome {
    color: rgb(15, 209, 48);
    font-weight: bold;
 }

.classTREchecHome {
    color: #ed9d9d;
    text-shadow: 2px 0 #9f0000, -2px 0 #9f0000, 0 2px #9f0000, 0 -2px #9f0000, 1px 1px #9f0000, -1px -1px #9f0000, 1px -1px #9f0000, -1px 1px #9f0000;
    font-weight: bold;
}

.homeEquipeEquipe {
    text-align: center;
}

.homeEquipeMilieu {
    text-align: center;
}


.homeEquipeMilieu2 {
    text-align: center;
}

.homeEquipeGauche2 {
    text-align: left;
    padding-left: 8px;
    font-size: 16x;
    width: 110px;
}

.homeEquipeDroite2 {
    text-align: right;
    padding-right: 8px;
    font-size: 16px;
    width: 110px;
}

.homeEquipeGauche {
    width: 110px;
    text-align: left;
    padding-left: 6px;
    font-size: 16px;
}

.homeEquipeDroite {
    width: 110px;
    text-align: right;
    padding-right: 6px;
    font-size: 16px;
}
.homePoint {
    font-size: 17px;
    padding-right: 5px;
    text-align: center;
}

.homeSmallDate {
    padding-left: 2px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.black 
{
    background: rgb(0, 0, 0);
}

.cadreTableauAcceuilBas {
    padding-top: 25px;
    height: 50px;
    color: #0A001D;
    font-weight: bold;
}

.detailTitreAcceuil:hover 
{
    text-align: right;
    cursor: pointer;
    color: #8496A1;
}

.detailTitreAcceuil {
    text-align: right;
    cursor: pointer;
    padding-right: 10px;
}

.style {
    display: block;
    padding: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.sousTitreTableauHaut {
    display: block;
    padding: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
    font-style: italic;
}

.TitreTableauHaut {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    /* display: block; */
}

.tableauHaut {
    color: #FFF;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    border-collapse: collapse;
    width: 400PX;
}

.tableauClassement {
    color: #FFF;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    border-collapse: collapse;
    width: 200PX;    
}

.cadreTableauAcceuil {
    height: 330px;
    width: 100%;
    overflow-y: auto;
}

.cadreTableauAcceuilNoHeight {
    width: 100%;
    overflow-y: auto;
    color: #FFF;
}

.cadreTableauAcceuilClassement {
    height: 338px;
    width: 100%;
    overflow-y: auto;
    color: #0A001D;
    font-weight: bold;
}

.titreTableau3 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.TableAcceuil3 {
    margin: auto;
    border: solid 1px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.ulperso {
    margin-top: -3px;
}

.regleDetail {
    font-weight: normal;
}

.regleExempleCorp {
    font-style: italic;
    font-weight: normal;
}

.regleExemple {
    font-style: italic;
    font-weight: 600;
}

.reglePoint {
    font-weight: 600;
}

.pointRegle {
    margin-left: 90px;
    padding-top: 5px;
}

.tab button.active.tablinksgeneral {
    background: #fff900;
}


.tab button.active.tablinksequipe {
    background: #2768ff;
}
.tab button.active.tablinksfemme {
    background: #ff00a3;
}

.tab button.tablinksmontagne:hover {
    border-bottom: solid 2px #3ccb24;
}


.jauneTitre {
    color: #fff900;
}
.roseTitre {
    color: #ff00a3;
}
.bleuTitre {
    color: #2768ff;
}
.vertTitre {
    color: #3ccb24;
}



.perfectTitre {
    color: #c0f6ff;
    text-shadow: 2px 0 #0490c7, -2px 0 #0490c7, 0 2px #0490c7, 0 -2px #0490c7, 1px 1px #0490c7, -1px -1px #0490c7, 1px -1px #0490c7, -1px 1px #0490c7;
    /* color: #1792c1; */
}

.perfectInverse {
    color: #cdcdcd;
    text-shadow: 2px 0 #757575, -2px 0 #757575, 0 2px #757575, 0 -2px #757575, 1px 1px #757575, -1px -1px #757575, 1px -1px #757575, -1px 1px #757575;
    /* color: #757575; */
}

.perfectCorrect {
    
    color: #b1f7c0;
    text-shadow: 2px 0 #02990d, -2px 0 #02990d, 0 2px #02990d, 0 -2px #02990d, 1px 1px #02990d, -1px -1px #02990d, 1px -1px #02990d, -1px 1px #02990d;
    /* color : #1ea228; */
}

.perfectCorrectPlus {
    color: rgb(15, 209, 48);
 }

.perfectEchec {
    color: #ed9d9d;
    text-shadow: 2px 0 #9f0000, -2px 0 #9f0000, 0 2px #9f0000, 0 -2px #9f0000, 1px 1px #9f0000, -1px -1px #9f0000, 1px -1px #9f0000, -1px 1px #9f0000;
   /* color: rgba(0, 0, 0, 0.91); */
}


.sousTitre {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
}

.reglementDiv {
    text-align: left;
    margin: 50px;
    background: #72203c70;
    color: #380817;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 1px 0px 20px 50px;
}

.tableListeSecond {
    font-weight: bold;
    font-size: 23px;
}

.imageListe {
    display: inline;
    height: 45px;
    width: 45px;
    margin: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px;
}

.pancarteListeJoueur {
    /* background: #018498; */
    margin-left: 79px;
    margin-right: 126px;
    padding: 5px;
    /* border-radius: 20px; */
    font-size: 19px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tableListeFour {
    width: 18%;
    text-align: center;
    cursor: pointer;
}

.tableListeFour:hover {
    width: 18%;
    text-align: center;
    color: #008192;
    cursor: pointer;
}

.tableListeDetail {
    width: 18%;
    text-align: center;
    cursor: pointer;
}

.tableListeDetail:hover {
    width: 18%;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}


.tableListeThird {
    width: 35%;
    text-align: center;
    font-size: 17px;
}

.tableListeSecond {
    width: 35%;
    text-align: center;
}

.tableListeFirst {
    width: 12%;
    text-align: center;
}

.tableListe {
    margin: auto;
    width: 100%;
        border-collapse: collapse;
}

.allListe {
    height: 650px;
    width: 800px;
        border: solid 1px;
    display: block;
    margin: auto;
    margin-top: 30px;
    overflow-y: scroll;
        background: rgba(255, 255, 255, 0.45);}

.listeJoueurTitre {
    display: block;
    padding: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #380817;
    background: #ffffff4f;
}

.detailTitreListeJoueurs:hover {
    text-align: right;
    font-weight: bold;
    color: #FFF;
       cursor: pointer;
}


.detailTitreListeJoueurs {
    text-align: right;
    font-weight: bold;
       cursor: pointer;
}


.sousTitreListeJoueurs {
    text-align: center;
    font-style: italic;
}


.TitreListeJoueurs {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    /* display: block; */
}

.TitreTableauBas {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    /* display: block; */
}

.sousTitreTableauBas {
    display: block;
    padding: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
    font-style: italic;
}

.listeJoueurs {
    color: #FFF;
    margin: auto;
    width: 400px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-collapse: collapse;
}

.tableAcceuilBas {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.tableAcceuilResultat {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.tableAcceuilClassement{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between; 
}

.tableAcceuil {
    font-weight: bold;
    color: #000000;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 845px;
    padding-bottom: 8px;
}

.detailTitreUpdateRedSpan:hover {
    color: #FFF;
   cursor: pointer;
}


.detailTitreUpdateRedSpan {
    font-size: 12px;
   cursor: pointer;
}

.sousTitreUpdateRed {
    padding-left: 30px;
    font-size: 12px;
    width: 590px;
}

.titreUpdateRed {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.etatProfilRed {
    padding: 5px 21px;
    margin: auto;
    margin-bottom: 20px;
    background: #ffffff82;
    width: 800px;
    border-radius: 0px 0px 20px 20px;
}

.etatProfilGreen {
    color: #fff;
    padding: 5px 21px;
    margin: auto;
    margin-bottom: 20px;
    background: #6af168a1;
    width: 800px;
    border-radius: 0px 0px 20px 20px;
}


.secondColumProfil {
    width: 25%;
}

.petitPoint {
    font-size: 14px;
    padding-left: 4px;
}

.firstColumnProfilPadding {
    width: 70%;
    padding-left: 25px;
}

.tableDetails {
    /* background: rgba(0, 0, 0, 0.28); */
    margin: auto;
    margin-top: 35px;
    width: 80%;
    padding: 6px;
    background: #72203c70;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}


.pancarteScoreDiv {
    background: rgba(0, 0, 0, 0.61);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding: 11px;
    border-radius: 20px;
    font-size: 28px;
    color: white;
}

.pancarteScorePts {
    font-size: 10px;
}

.redCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 0, 0, 0.58);
    display: block;
    margin-top: 5px;
}

.greenCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background:rgba(37, 255, 0, 0.58);
    display: block;
    margin-top: 5px;
}

.profilInformationEmail {
    padding: 8px 5px 5px 5px;
    font-size: 15px;
    margin: 18px;
    font-size: 14px;
    background: #72203c70;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    /* background: rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}


.profilInformationCivil {
    padding-top: 5px;
    font-size: 15px;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
}

.pointBonusView {
    font-size: 18px;
}

.pointBonusViewSmall {
    font-size: 18px;
    padding: 0 10px;
}

.pointBonus {
    font-size: 18px;
    padding-right: 30px;
    font-weight: bold;
}

.pancarteBonusEchec {
    background: rgba(197, 41, 41, 0.68);
        text-align: center;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
}


.pancarteBonusCorrect {
    background: rgba(56, 150, 76, 0.68);
    text-align: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
}

.tdBonusCenter {
    text-align: center;
    padding-right: 20px;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

.tdBonusCenterSmall {
    text-align: left;
    padding-right: 20px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

.tdBonusLeft {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    padding: 18px;
}

#ModifierProfil {
    color: #5c001f;
    background: #FFF;
 }

 #ModifierMatch {
    background: #ffffff;
    color: #5c001f;
 }
 #modifierBonus {
    background: #ffffff;
    color: #5c001f;
 }
 #modifierJoker {
    background: #ffffff;
    color: #5c001f;
 }

.InversePronos {
    font-size: 12px;
    font-weight: bold;
        text-align: center;
}

.CorrectPronos {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.CorrectPlusPronos {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.PerfectPronos {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.PasJouePronos {
    font-size: 9px;
    font-weight: bold;
    text-align: center;
}

.EchecPronos {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.pancarteAuto {
    background: rgba(0, 0, 0, 0.68);
    text-align: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
}

.BigTitreRight {
    font-size: 45px;
    font-weight: bold;
    width: 42%;
    text-align: right;
    padding-right: 25px;
}


.BigTitreLeft {
    font-size: 45px;
    font-weight: bold;
    width: 45%;
    text-align: left;
    padding-left: 25px;
}

.pancarte {
    background: rgba(0, 0, 0, 0.68);
    padding-bottom: 3px;
    padding-top: 3px;
    display: block;
    text-align: center;
    /* border-radius: 5px; */
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.pancarteBig {
    background: rgba(0, 0, 0, 0.68);
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    width: 26px;
}

img.logoEquipeBig {
    width: 90px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    /* border: solid 2px #000; */
}

img.logoEquipe {
    width: 34px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

img.logoEquipeSmall {
    width: 30px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

img.logoEquipeSmaller {
    width: 18px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}


.tdMatchLeft {
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
}


.tdMatchRight {
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
}

.affPronosTableau {
    width: 100%;
    border-collapse: collapse;
    color: #FFF;
}

.emptyTableau {
    display: inherit;
    padding-top: 36px;
    text-align: center;
    font-size: 25px;
}

.profilPronosSousTitre {
    display: block;
    margin-top: 40px;
    margin-left: 145px;
    font-size: 20px;
    font-weight: bold;
    
    text-align: left;
    
    color: #380817;
    margin-bottom: 8px;
}

.profilPronosTitre {
    display: block;
    font-size: 28px;
    font-weight: bold;
    color: #FFF;    
    padding: 20px;
    background: #ffffff38;
}

.buttonRigth {
    text-align: center;
    font-weight: 500;
    background: rgba(39, 212, 38, 0.31);
    border-bottom: solid 1px #207314;
    cursor: pointer;
}


.buttonRigth:hover {
    text-align: center;
    font-weight: 500;
    background: #27D426;
    border-bottom: solid 1px #207314;
    cursor: pointer;
}


.cadreTableauBonus {
    width: 100%;
    height: 100%;
}

.cadreTableauMatch {
    height:580px;
    overflow-y: auto;     
}

.titreTableau {
    padding-left: 30px;
    font-size: 22px;
    font-weight: bold;
}

table.TableMatch {
    margin: auto;
    border: solid 1px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.profilPronos  {
    width: 100%;
    font-size: x-large;
}

.profilPronosFulll  {
    width: 100%;
    height: 1100px;
    text-align: left;
    font-size: x-large;
}


.profilPronosSmall  {
    width: 800px;
    font-size: x-large;
    background: #ffffff30;
}

.profilPronosBig  {
    width: 800px;
    height: 3000px;
    font-size: x-large;
}

.floaleft {
    float: left;
}

.profilInformationImage {
    display: inline;
    width: 150px;
    margin: 15px;
    border: solid;
}

.profilInformationSurnom {
    height: 100%;
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: #630f2a;

}

.profilInformationSurnomBig {
    width: 200px;
    text-align: center;
    font-size: 20px;
    height: 3000px;
    color: #630f2a;
}

span.titre {
    font-style: italic;
    font-weight: lighter;
}

.inline
{
    display: inline;
}

.padding20 {
    padding: 40px;
}

.transparence {
    position: fixed; 
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
}

.transparence2 {
    position: fixed; 
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* background: rgba(255, 255, 255, 0.24); */
    z-index: -1;
    background-color: #000000;
    opacity: .2;
    height: 100%;
    right: 0px;
}

.transparence3 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle closest-corner at top center,#680000,rgba(101,190,236,0));
    opacity: .5;
}

.linkBack {
    text-decoration: none;
    font-size: 20px;
        cursor: pointer;
            color: #000000;
}


.linkBack:hover {
    text-decoration: none;
    font-size: 20px;
    color: #14489C;
        cursor: pointer;
}

.RetourSpan {
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row-reverse;
}

.RetourSpanButton {
    margin-left: 650px;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

.Retour {
    margin-left: 116px;
    margin-top: -25px;
    text-align: left;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

.Retoudiv {
    margin-left: 116px;
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

#RetourButtonBlanc {
    color: #000;
    background: #FFF;
}

#RetourButtonRouge {
    background: #ffffff;
    color: #5c001f;
}

#buttonValidationSubmit {
    background: rgb(22 115 22);
    color: #FFF;    
}

.buttons {
    margin: 20px;
}

textarea#description {
    margin-top: 7px;
    padding: 9px;
}


.RetourSpan:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}


span.ui-button-text {
    margin-left: -10px;
}

#buttonValidationReset {
    margin-left: 10px;

    background: #ffffff;
    color: #5c001f;

}


.inputLogin {
    margin: 5px;
}

div#add_err {
    border: solid 1px #AF0202;
    width: 90%;
    margin: auto;
    padding: 10px;
    background: rgba(177, 11, 11, 0.46);
    color: #fff;
}

.loginform-in {
    text-align: center;
    /* height: 367px; */
    margin: auto;
    padding: 0;
    max-width: 1000px;
    background: #ffffff61;
}

.loginform-in-acceuil {
    background: rgba(255, 255, 255, 0.26);
    width: auto;
}

.loginform-in fieldset {
    border: 0px #787880 solid;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

.loginbutton {
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #A7A7A7;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
}

.loginbutton:hover {
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
}



.demandbutton {
    background: rgba(214, 61, 61, 0.65);
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid rgb(171, 68, 68);
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
    font-weight: bold;
}
  
.demandbutton:hover {
    background: rgba(214, 61, 61, 0.65);
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
    font-weight: bold;
}
    

.loginform-in fieldset label {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 0;
    width: 100px;
}

.loginform-in fieldset input[type="text"], input[type="password"], fieldset select {
    border: 0px;
    /* border-radius: 2px 2px 2px 2px; */
    /* float: left; */
    height: 32px;
    padding: 1px 1px 1px 10px;
    width: 180px;
    outline: none;
}

.full-table-collapse-white {
    border-collapse: collapse;
    width: 100%;
    color: #FFF;
    font-weight: normal;
}

.statusprofil {
    padding-bottom: 20px;
}

.TitreSmallClassement {
    margin: auto;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.labelnomequipe {
    padding: 3px;
    font-size: 10px;
    color: #fff;
    margin: auto;
    background: #d42626;
    margin: 5px 21px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#login {
    background: rgb(149 194 61);
    width: 180px;
}

#demand {
    background: rgb(249 178 51);
    width: 180px;
}

.material-icons.profilicon {
    font-size: 20px;
}

.pancarteMontagne {
    background: #009a46
}

.tdmontagne {
    color : #009a46;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

.matchmontagne {
    padding: 10px 20px;
    margin: 0 200px;
    background: #009a46;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
}


.viewEquipe {
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   background: rgba(255, 255, 255, 0.45);
    margin: 0px 50px 20px;
}

.equipeContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.equipeTitre {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}

.small-version {
        margin-top: 0px !important;
        margin: auto !important;
        width: 160px !important;
        min-height: 50px !important;
        height: 50px !important;
}

.middle-version {
    margin-top: 0px !important;
    margin: auto !important;
    width: 160px !important;
    min-height: 50px !important;
    height: 50px !important;
}

.TitreTableauBasBig {
    text-align: left;
    MARGIN: auto;
    /* padding-left: 20px; */
    font-size: 46px;
    /* padding-bottom: 5px; */
    /* padding-top: 5px; */
    font-weight: bold;
}

.TitreSmallClassementBig {
    margin: auto;
    font-size: 43px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.labelequipe {
    color: #FFFFFF;
    text-decoration: none;
}

.width100 {
    width: 100%;
}

a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {
    background: #e189a794;
}

.dateCalendar {
    margin: auto;
    width: 650px;
    margin-top: 20px;
    text-align: start;
}

span.dateCalendarText {
    margin: 70px;
    line-height: 40px;
    font-size: 19px;
    font-weight: bold;
    color: #5a1129;
}

.resumeJoker {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.jokerBig {
    width: 120px;
    padding-top: 20px;
}

.jokerMedium {
    width: 50px;
}

.jokerSmall {
    width: 38px;
}

.jokerdiv {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jokertile {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #72203c70;
    color: #380817;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.jokertext {
    padding: 15px;
}

.jokertextdiv {
    width: 780px;
    margin: auto;
    padding-top: 15px;
}

.jokerBigText {
    margin: 20px;
}

.availableJoker {
    display: flex;
    align-items: center;
}

.dayofStageText{
    font-size: 18px;
    font-weight: bold;
    color: #380817;
    padding: 10px 10px 10px 20px;
    background: #701e3978;
}

.availableJokerText{
    font-size: 18px;
    font-weight: bold;
    color: #380817;
    padding: 30px 30px 30px 60px;
}

.availableJokerImg {
    padding: 15px;
}

.jokerDisplayMatchs {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 371px;
    flex-wrap: wrap;
    background: #701e3978;
}

.jokerMatch {
    width: 380px;
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.tiret {
    padding: 0 6px;
}

/* IMAGE STYLES */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

[type=radio] + img {
cursor: pointer;
}
  
  /* CHECKED STYLES */
[type=radio]:checked + img {
    opacity: 1;
}

.jokerButton {
    padding: 0 8px;
    opacity: 0.5;
}

.paddingtop20 {
    padding-top: 20px;
}

.overflow {  
    height: 200px;  
  }  

.cadreprofil {
    background: #72203c70;
    color: #FFF;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin: 18px;
    padding: 3px 0px 6px 0px;
}

.cadreprofilsurnom {
    background: #72203c70;
    color: #FFF;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 3px 0px 22px 0px;
}

.cadreprofilsurnomBig {
    background: #72203c70;
    color: #FFF;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 3px 0px 22px 0px;
}


.logoEquipProfil {
    width: 23px;
    margin: 0 10px;
    border: 1px solid #ffffff;
}

.backgroundwhite {
    background: #ffffff91 !important;
}

.joueursimage {
    margin: 15px;
    border-color: #743957;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 10px;
}

.drapeausmall {
    display: inline;
    margin: 0px -3px;
    height: 100%;
    width: auto;
}

.image-cropper {
    border: 1px solid #FFF;
    width: 12px;
    height: 12px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    right: 0px;
  }