@font-face {
    font-family: Segoe;
    src: url('fonts/segoeui.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}

body {
    color: black;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#143cdb), to(#00ba5d)) fixed;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5)) fixed; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#5e0925), to(#af6780)) fixed; */
    /* background-color: #981d46; */
    background-repeat: no-repeat;
    margin: 0px;
    height: 100%;
    font-family: Roboto;
}

select {
    height: 30px; 
}


table {
    /* font-family: 'Roboto'; */
}

.ClassementPoints {
    text-align: center;
    width: 7%;
    font-weight: bold;
    font-size: 20px;
}

.ClassementSurnom {
    width: 200px;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.ClassementBonus {
    text-align: center;
    width: 65px;
    /* width: 7%; */
}

.ClassementEchec {
    width: 65px;
    /* width: 7%; */
    text-align: center;
}

.ClassementInverse {
    width: 65px;
    /* width: 7%; */
    text-align: center;
}

.ClassementCorrect {
    width: 65px;
    /* width: 8%; */
    text-align: center;
}

.ClassementCorrectp {
    width: 65px;
    /* width: 8%; */
    text-align: center;
}

.ClassementNbPerf {
    width: 65px;
    /* width: 8%; */
    text-align: center;
}

.ClassementNbPronos {
    width: 65px;
    /* width: 9%; */
    text-align: center;
}

.ClassementRang {
    width: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.titleSmallTexte {
    font-size: 10px;
}

.titleSmallerTexte {
    font-size: 8px;
}

table.sortable {
    width: 100%;
    border-collapse: collapse;
}

table.sortable thead {
    color:#000;
    background-color:#FFF;
    font-weight: bold;
    cursor: default;

}


.allListeClassement {
    width: 850px;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 600px;
    overflow-y: auto;
    background: #ffffff36;
    border-radius: 10px;
}

.uniqueClassement {
    padding: 10px;
}

.uniqueStatistics {
    background: #00000085;
}

.surnomClassementDiv {
    cursor: pointer;
    word-break: break-word;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.surnomClassementDiv:hover {
    color: #FFF;
    cursor: pointer;
}

.homeClassementPoint {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.homeClassementSurnom {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.homeClassementRang {
    padding-left: 5px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.homeEquipeMilieuMatch {
    text-align: center;
        width: 10px;
}

.homePointMatch {
    text-align: center;
}

.pronosMatch {
    text-align: center;
        width: 10px;
}

.homeEquipeDroiteMatch {
    width: 70px;
    text-align: right;
    padding-right: 10px;
}

.homeEquipeGaucheMatch {
    width: 70px;
    text-align: left;
    padding-left: 10px;
}

.surnomMatch {
    width: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.rangMatch {
    width: 30px;
    text-align: center;
    padding: 10px;
}

.cadreTableauJoueurMatch {
    height: 450px;
    overflow-y: scroll;
    color: #0A001D;
    font-weight: bold;
}

.TitreTableauJoueurMatchs {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;    
    color: #FFF;
}

.tableauJoueurMatchs {
    /* margin: 15px; */
    /* background: rgb(0, 0, 0); */
    /* color: #FFF; */
    margin: auto;
    /* width: 95%; */
    margin-top: 50px;
    margin-bottom: 14px;
    /* border-radius: 10px; */
    border-collapse: collapse;
    width: 500px;
    /* height: 455px; */
    border: solid 1px black;
}

.allMatch {
    width: 700px;
    PADDING: 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.56);
    z-index: 1;    
    border-radius: 20px;
}

.tableCalendrierL1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.611764705882353);
    border-radius: 20px;
}

.tableCalendrierL3 {
    height: 25px;
    font-size: 12px;
        text-align: center;
}

.tableCalendrierL2 {
    height: 25px;
    font-size: 12px;
        text-align: center;
}

.allListeCalendrier {
    width: 650px;
    display: block;
    margin: auto;
    
    background: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
}

.allPronosJoueurs {
    width: 500px;
    border: solid 1px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.45); 
}

.tableCalendrierGroup {
    width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: rgba(228, 228, 228, 0.26);
    border-radius: 20px 0 0 20px;
}

.backgroundTab1 {
    /* background:#9a224aa3; */
    /* border-bottom: solid 1px #FFF; */
    font-weight: bold;

}

.backgroundTab2 {
    background: #ffffff26;
    /* border-bottom: solid 1px #FFF; */
    font-weight: bold;
}

.profil-line {
    border-bottom: solid 1px #FFF;
}

.profil-score {
    text-align: left;
    /* margin-left: 20px; */
    margin-top: -12px;
    padding: 0 0 4px 45%;
    font-weight: bold;
    font-size: 13px;
    color: #474747;
}

.backgroundTab1Jaune {
    background: #f3e883;
}
.backgroundTab2Jaune {
    background: #fff900;
}


.backgroundTab1Bleu {
    background: #8394df;
}
.backgroundTab2Bleu {
    background: #2768ff;
}

.backgroundTab1Rose {
    background: #f97ba6;
}
.backgroundTab2Rose {
    background: rgba(255, 139, 213, 0.5411764705882353);
}


.backgroundTab1Vert {
    background: #91d27f;
}
.backgroundTab2Vert {
    background: #3ccb24;
}

.tab button.active.tablinksgeneral {
    background: #fff900;
}

.tab button.tablinksgeneral:hover {
    border-bottom: solid 2px #fff900;
}

.tab button.active.tablinksequipe {
    background: #2768ff;
}
.tab button.tablinksequipe:hover {
    border-bottom: solid 2px #2768ff;
}
.tab button.active.tablinksfemme {
    background: #ff00a3;
}
.tab button.tablinksfemme:hover {
    border-bottom: solid 2px #ff00a3;
}

.tab button.active.tablinksmontagne {
    background: #3ccb24;
}
.tab button.tablinksmontagne:hover {
    border-bottom: solid 2px #3ccb24;
}

.tab button.active.tablinksjoueur {
    background: #2768ff;
}
.tab button.tablinksjoueur:hover {
    border-bottom: solid 2px #2768ff;
}


.trNeutre {
    color: rgba(255, 255, 255, 0.14);
    font-weight: bold;
}

.classTRPerfectHome {
    color: #c0f6ff;
    text-shadow: 2px 0 #00b7ff, -2px 0 #00b7ff, 0 2px #00b7ff, 0 -2px #00b7ff, 1px 1px #00b7ff, -1px -1px #00b7ff, 1px -1px #00b7ff, -1px 1px #00b7ff;
    font-weight: bold;
}


.classTRInverseHome {
    color: #cdcdcd;
    text-shadow: 2px 0 #757575, -2px 0 #757575, 0 2px #757575, 0 -2px #757575, 1px 1px #757575, -1px -1px #757575, 1px -1px #757575, -1px 1px #757575;
    font-weight: bold;
}

.classTRCorrectHome {
    color: #b1f7c0;
    /* text-shadow: 2px 0 #2bdf6e, -2px 0 #2bdf6e, 0 2px #2bdf6e, 0 -2px #2bdf6e, 1px 1px #2bdf6e, -1px -1px #2bdf6e, 1px -1px #2bdf6e, -1px 1px #2bdf6e; */
    text-shadow: 2px 0 #2bdf6e, -2px 0 #2bdf6e, 0 2px #2bdf6e, 0 -2px #2bdf6e, 1px 1px #2bdf6e, -1px -1px #2bdf6e, 1px -1px #2bdf6e, -1px 1px #2bdf6e;
    font-weight: bold;
}

.classTRCorrectPlusHome {
    color: rgb(15, 209, 48);
    font-weight: bold;
 }

.classTREchecHome {
    color: #ed9d9d;
    text-shadow: 2px 0 #ed1e25, -2px 0 #ed1e25, 0 2px #ed1e25, 0 -2px #ed1e25, 1px 1px #ed1e25, -1px -1px #ed1e25, 1px -1px #ed1e25, -1px 1px #ed1e25;
    font-weight: bold;
}

.homeEquipeEquipe {
    text-align: center;
}

.homeEquipeMilieu {
    text-align: center;
}


.homeEquipeMilieu2 {
    text-align: center;
}

.homeEquipeGauche2 {
    text-align: left;
    padding-left: 8px;
    font-size: 16x;
    width: 110px;
}

.homeEquipeDroite2 {
    text-align: right;
    padding-right: 8px;
    font-size: 16px;
    width: 110px;
}

.homeEquipeGauche {
    width: 110px;
    text-align: left;
    padding-left: 6px;
    font-size: 16px;
}

.homeEquipeDroite {
    width: 110px;
    text-align: right;
    padding-right: 6px;
    font-size: 16px;
}
.homePoint {
    font-size: 17px;
    padding-right: 5px;
    text-align: center;
}

.homeSmallDate {
    padding-left: 2px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.black 
{
    background: rgb(0, 0, 0);
}

.cadreTableauAcceuilBas {
    padding-top: 25px;
    height: 50px;
    color: #0A001D;
    font-weight: bold;
}

.detailTitreAcceuil:hover 
{
    text-align: right;
    cursor: pointer;
    color: #8496A1;
}

.detailTitreAcceuil {
    text-align: right;
    cursor: pointer;
    padding-right: 10px;
}

.style {
    display: block;
    padding: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.sousTitreTableauHaut {
    display: block;
    padding: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
    font-style: italic;
}

.TitreTableauHaut {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    /* display: block; */
}

.tableauHaut {
    color: #FFF;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    border-collapse: collapse;
    width: 400PX;
}

.tableauClassement {
    color: #FFF;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    border-collapse: collapse;
    width: 200PX;    
}

.cadreTableauAcceuil {
    height: 510px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px; 
}

.cadreTableauAcceuilNoHeight {
    width: 100%;
    overflow-y: auto;
    color: #FFF;
}

.cadreTableauAcceuilClassement {
    height: 338px;
    width: 100%;
    overflow-y: auto;
    color: #0A001D;
    font-weight: bold;
}

.titreTableau3 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.TableAcceuil3 {
    margin: auto;
    border: solid 1px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.ulperso {
    margin-top: -3px;
}

.regleDetail {
    font-weight: normal;
}

.regleExempleCorp {
    font-style: italic;
    font-weight: normal;
}

.regleExemple {
    font-style: italic;
    font-weight: 600;
}

.reglePoint {
    font-weight: 600;
}

.pointRegle {
    margin-left: 90px;
    padding-top: 5px;
}

.tab button.active.tablinksgeneral {
    background: #fff900;
}


.tab button.active.tablinksequipe {
    background: #2768ff;
}
.tab button.active.tablinksfemme {
    background: #ff00a3;
}

.tab button.tablinksmontagne:hover {
    border-bottom: solid 2px #3ccb24;
}


.jauneTitre {
    color: #fff900;
}
.roseTitre {
    color: #ff00a3;
}
.bleuTitre {
    color: #2768ff;
}
.vertTitre {
    color: #3ccb24;
}



.perfectTitre {
    color: #c0f6ff;
    text-shadow: 2px 0 #00b7ff, -2px 0 #00b7ff, 0 2px #00b7ff, 0 -2px #00b7ff, 1px 1px #00b7ff, -1px -1px #00b7ff, 1px -1px #00b7ff, -1px 1px #00b7ff;
    /* color: #1792c1; */
}

.perfectInverse {
    color: #cdcdcd;
    text-shadow: 2px 0 #757575, -2px 0 #757575, 0 2px #757575, 0 -2px #757575, 1px 1px #757575, -1px -1px #757575, 1px -1px #757575, -1px 1px #757575;
    /* color: #757575; */
}

.perfectCorrect {
    
    color: #b1f7c0;
    text-shadow: 2px 0 #2bdf6e, -2px 0 #2bdf6e, 0 2px #2bdf6e, 0 -2px #2bdf6e, 1px 1px #2bdf6e, -1px -1px #2bdf6e, 1px -1px #2bdf6e, -1px 1px #2bdf6e;
    /* color : #1ea228; */
}

.perfectCorrectPlus {
    color: rgb(15, 209, 48);
 }

.perfectEchec {
    color: #ed9d9d;
    text-shadow: 2px 0 #ed1e25, -2px 0 #ed1e25, 0 2px #ed1e25, 0 -2px #ed1e25, 1px 1px #ed1e25, -1px -1px #ed1e25, 1px -1px #ed1e25, -1px 1px #ed1e25;
   /* color: rgba(0, 0, 0, 0.91); */
}


.sousTitre {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
}

.reglementDiv {
    text-align: left;
    margin: 50px;
    background: #ffffff40;
    color: #00123f;
    border-radius: 10px;
    padding: 1px 0px 20px 50px;
}

.tableListeSecond {
    font-weight: bold;
    font-size: 23px;
}

.imageListe {
    display: inline;
    height: 45px;
    width: 45px;
    margin: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px;
}

.pancarteListeJoueur {
    /* background: #018498; */
    margin-left: 79px;
    margin-right: 126px;
    padding: 5px;
    /* border-radius: 20px; */
    font-size: 19px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tableListeFour {
    width: 18%;
    text-align: center;
    cursor: pointer;
}

.tableListeFour:hover {
    width: 18%;
    text-align: center;
    color: #008192;
    cursor: pointer;
}

.tableListeDetail {
    padding: 0 55px;
    /* text-align: center;
    color: #002c90; */
}

/* .tableListeDetail:hover {
    width: 18%;
    text-align: center;
    color: #FFF;
    cursor: pointer;
} */


.tableListe .tableCalendrierElse ~ .tableCalendrierElse {
    background-color: #00123f;
}

.tableListeThird {
    width: 35%;
    text-align: center;
    font-size: 17px;
}

.tableListeThird-round {
    border-radius: 0 20px 0 0;
}

.tableCalendrierL2-hour {
    font-weight: bold;
    font-size: 16px;
}

.tableListeSecond {
    width: 35%;
    text-align: center;
}

.tableListeFirst {
    width: 12%;
    text-align: center;
}

.tableListe {
    margin: auto;
    width: 100%;
        border-collapse: collapse;
}

.allListe {
    height: 650px;
    width: 800px;
        border: solid 1px;
    display: block;
    margin: auto;
    margin-top: 30px;
    overflow-y: scroll;
        background: rgba(255, 255, 255, 0.45);}

.listeJoueurTitre {
    display: block;
    padding: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #002c90;
    background: #ffffff4f;
    border-radius: 0px 0px 30px 30px;
    border-bottom: solid 2px #002c90;
}

.detailTitreListeJoueurs:hover {
    text-align: right;
    font-weight: bold;
    color: #FFF;
       cursor: pointer;
}


.detailTitreListeJoueurs {
    text-align: right;
    font-weight: bold;
       cursor: pointer;
}


.sousTitreListeJoueurs {
    text-align: center;
    font-style: italic;
}


.TitreListeJoueurs {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    /* display: block; */
}

.TitreTableauBas {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    color: #000;
    /* display: block; */
}

.sousTitreTableauBas {
    display: block;
    padding: 0px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
    font-style: italic;
}

.listeJoueurs {
    color: #FFF;
    margin: auto;
    width: 400px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-collapse: collapse;
}

.tableAcceuilBas {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.tableAcceuilResultat {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.tableAcceuilClassement{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between; 
}

.tableAcceuil {
    font-weight: bold;
    color: #000000;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 845px;
    padding-bottom: 8px;
}

.detailTitreUpdateRedSpan:hover {
    color: #FFF;
   cursor: pointer;
}


.detailTitreUpdateRedSpan {
    font-size: 12px;
   cursor: pointer;
   font-weight: bold;
}

.sousTitreUpdateRed {
    padding-left: 30px;
    font-size: 12px;
    width: 590px;
    font-weight: bold;
}

.titreUpdateRed {
    /* color: #ed9d9d; */
    /* text-shadow: 2px 0 #ed1e25, -2px 0 #ed1e25, 0 2px #ed1e25, 0 -2px #ed1e25, 1px 1px #ed1e25, -1px -1px #ed1e25, 1px -1px #ed1e25, -1px 1px #ed1e25; */
    /* font-weight: bold; */
    color: red;
    font-weight: bold;
    font-size: 15px;
    font-family: "Kalam", cursive;
}

.etatProfilRed {
    padding: 5px 21px;
    margin: auto;
    margin-bottom: 20px;
    background: #ffffff82;
    width: 800px;
    border-radius: 0px 0px 20px 20px; 
    border-bottom: solid 1px #FFF;
    border-right: solid 1px #FFF;
    border-left: solid 1px #FFF;
}

.etatProfilGreen {
    color: #002c90;
    padding: 5px 21px;
    margin: auto;
    margin-bottom: 20px;
    background: #ffffff82;
    /* text-shadow: 1px 0 #2bdf6e, -1px 0 #2bdf6e, 0 1px #2bdf6e, 0 -1px #2bdf6e, 1px 1px #2bdf6e, -1px -1px #2bdf6e, 1px -1px #2bdf6e, -1px 1px #2bdf6e; */
    font-weight: bold;
    width: 800px;
    border-radius: 0px 0px 20px 20px;
    border-bottom: solid 1px #FFF;
    border-right: solid 1px #FFF;
    border-left: solid 1px #FFF;
    font-family: "Kalam", cursive;
}


.secondColumProfil {
    width: 25%;
}

.petitPoint {
    font-size: 14px;
    padding-left: 4px;
}

.firstColumnProfilPadding {
    width: 70%;
    padding-left: 25px;
}

.tableDetails {
    /* background: rgba(0, 0, 0, 0.28); */
    margin: auto;
    margin-top: 35px;
    width: 80%;
    padding: 6px;
    background: #72203c70;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}


.pancarteScoreDiv {
    background: rgba(0, 0, 0, 0.61);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding: 11px;
    border-radius: 20px;
    font-size: 28px;
    color: white;
}

.pancarteScorePts {
    font-size: 10px;
}

.redCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 0, 0, 0.58);
    display: block;
    margin-top: 5px;
}

.greenCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background:rgba(37, 255, 0, 0.58);
    display: block;
    margin-top: 5px;
}

.profilInformationEmail {
    padding: 8px 5px 5px 5px;
    font-size: 15px;
    margin: 18px;
    font-size: 14px;
    background: #72203c70;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    /* background: rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}


.profilInformationCivil {
    padding-top: 5px;
    font-size: 15px;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
}

.pointBonusView {
    font-size: 18px;
}

.pointBonusViewSmall {
    font-size: 18px;
    padding: 0 10px;
}

.pointBonus {
    font-size: 18px;
    padding-right: 20px;
    font-weight: bold;
}

.tdBonusCenter {
    text-align: center;
    padding-right: 20px;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

.tdBonusCenterSmall {
    text-align: left;
    padding-right: 20px;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

.tdBonusLeft {
    text-align: right;
    padding-right: 20px;
    font-size: 18px;
    padding: 18px;
}

#ModifierProfil {
    background: #ffffffad;
    color: #002c90;
 }

 #ModifierMatch {
    background: #ffffffad;
    color: #002c90;
 }
 #modifierBonus {
    background: #ffffffad;
    color: #002c90;
 }
 #modifierJoker {
    background: #ffffffad;
    color: #002c90;
 }

.InversePronos {
    font-size: 12px;
    font-weight: bold;
        text-align: center;
}

.CorrectPronos {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.CorrectPlusPronos {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.PerfectPronos {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.PasJouePronos {
    font-size: 9px;
    font-weight: bold;
    text-align: center;
}

.EchecPronos {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.pancarteAuto {
    background: rgba(0, 0, 0, 0.68);
    text-align: center;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
}

.pancarteBonusEchec {
    background: rgba(197, 41, 41, 0.68);
}


.pancarteBonusCorrect {
    background: rgba(56, 150, 76, 0.68);
}

.BigTitreRight {
    font-size: 45px;
    font-weight: bold;
    width: 42%;
    text-align: right;
    padding-right: 25px;
}


.BigTitreLeft {
    font-size: 45px;
    font-weight: bold;
    width: 45%;
    text-align: left;
    padding-left: 25px;
}

.pancarte {
    background: rgba(0, 0, 0, 0.68);
    padding-bottom: 3px;
    padding-top: 3px;
    display: block;
    text-align: center;
    /* border-radius: 5px; */
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.pancarteBig {
    background: rgba(0, 0, 0, 0.68);
    padding: 2px;
    display: block;
    text-align: center;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    width: 26px;
}

.pancarte-profil {
    background: rgba(0, 0, 0, 0.68);
    padding: 4px 9px;
    display: block;
    text-align: center;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
    min-width: 10px;
    border-radius: 5px;
}

.pancarte-padding {
    padding: 3px 9px;
}

.pancarte-perfect {
    background: #00b7ff;
    border: solid 2px #c0f4fa;
}

.pancarte-correct {
    background: #2bdf6e;
    border: solid 2px #b1f7c0;
}

.pancarte-inverse {
    background: #757575;
    border: solid 2px #cdcdcd;
}

.pancarte-echec {
    background: #ed1e25;
    border: solid 2px #ed9d9d;
}


img.logoEquipeBig {
    width: 90px;
    margin: 5px;
    /* border: solid 2px #000; */
}

img.logoEquipe {
    width: 55px;
    margin: 5px;
}

img.logoEquipeSmall {
    width: 40px;
    margin: 5px;
}

img.logoEquipeSmaller {
    width: 18px;
    margin: 5px;
}


.tdMatchLeft {
    padding-right: 20px;
    text-align: right;
    font-size: 18px;
}


.tdMatchRight {
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
}

.affPronosTableau {
    width: 100%;
    border-collapse: collapse;
    font-weight: bold;
}

.emptyTableau {
    display: inherit;
    padding-top: 36px;
    text-align: center;
    font-size: 25px;
}

.profilPronosSousTitre {
    /* display: block; */
    /* margin-top: 40px; */
    /* margin: auto; */
    /* margin-left: 145px; */
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin: 20px;
    text-align: center;
    /* margin-bottom: 8px; */
}

.profilPronosTitre {
    display: block;
    font-size: 28px;
    font-weight: bold;
    color: #FFF;    
    padding: 20px;
    background: #ffffff38;
}

.buttonRigth {
    text-align: center;
    font-weight: 500;
    background: rgba(39, 212, 38, 0.31);
    border-bottom: solid 1px #207314;
    cursor: pointer;
}


.buttonRigth:hover {
    text-align: center;
    font-weight: 500;
    background: #27D426;
    border-bottom: solid 1px #207314;
    cursor: pointer;
}


.cadreTableauBonus {
    width: 100%;
    height: 100%;
}

.cadreTableauMatch {
    overflow-y: auto;     
}

.titreTableau {
    padding-left: 30px;
    font-size: 22px;
    font-weight: bold;
}

table.TableMatch {
    margin: auto;
    border: solid 1px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.profilPronos  {
    width: 100%;
    font-size: x-large;
}

.profilPronosFulll  {
    width: 100%;
    height: 1100px;
    text-align: left;
    font-size: x-large;
}


.profilPronosSmall  {
    width: 800px;
    font-size: x-large;
    background: #ffffff30;
}

.profilPronosBig  {
    width: 800px;
    height: 3000px;
    font-size: x-large;
}

.floaleft {
    float: left;
}

.profilInformationImage {
    display: inline;
    width: 150px;
    margin: 15px;
    border: solid;
}

.profilInformationSurnom {
    height: 100%;
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: #630f2a;

}

.profilInformationSurnomBig {
    width: 200px;
    text-align: center;
    font-size: 20px;
    height: 3000px;
    color: #630f2a;
}

span.titre {
    font-style: italic;
    font-weight: lighter;
}

.inline
{
    display: inline;
}

.padding20 {
    padding: 40px;
}

.transparence {
    position: fixed; 
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
}

.transparence2 {
    position: fixed; 
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* background: rgba(255, 255, 255, 0.24); */
    z-index: -1;
    background-color: #000000;
    opacity: .2;
    height: 100%;
    right: 0px;
}

.transparence3 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: radial-gradient(circle closest-corner at top center,#680000,rgba(101,190,236,0));
    opacity: .5;
}

.linkBack {
    text-decoration: none;
    font-size: 20px;
        cursor: pointer;
            color: #000000;
}


.linkBack:hover {
    text-decoration: none;
    font-size: 20px;
    color: #14489C;
        cursor: pointer;
}

.RetourSpan {
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row-reverse;
}

.RetourSpanContainer {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row-reverse;
}

.RetourSpanButton {
    margin-left: 650px;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

.Retour {
    margin-left: 116px;
    margin-top: -25px;
    text-align: left;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

.Retoudiv {
    margin-left: 116px;
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

#RetourButtonBlanc {
    color: #000;
    background: #FFF;
    background: #ffffffad;
    color: #002c90;
}

#RetourArrow {
    background: none;
    font-size: 65px;
}

#ButtonMoulinette {
    background: rgb(22 115 22);
    color: #FFF;
}

#ButtonBonus {
    color: #000;
    background: #FFF;
}

#RetourButtonRouge {
    background: #ffffff;
    color: #002c90;
}

#buttonValidationSubmit {
    background: rgb(22 115 22);
    color: #FFF;    
}

.buttons {
    margin: 20px;
}

textarea#description {
    margin-top: 7px;
    padding: 9px;
}


.RetourSpan:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}


span.ui-button-text {
    margin-left: -10px;
}

#buttonValidationReset {
    margin-left: 10px;

    background: #ffffff;
    color: #002c90;

}


.inputLogin {
    margin: 5px;
}

div#add_err {
    border: solid 1px #AF0202;
    width: 90%;
    margin: auto;
    padding: 10px;
    background: rgba(177, 11, 11, 0.46);
    color: #fff;
}

.loginform-in {
    text-align: center;
    /* height: 367px; */
    margin: auto;
    padding: 0;
    max-width: 1000px;
    background: #ffffff61;
    border-radius: 0 0 20px 20px;
}

.loginform-in-acceuil {
    background: rgba(255, 255, 255, 0.26);
    width: auto;
}

.loginform-in fieldset {
    border: 0px #787880 solid;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

.loginbutton {
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #A7A7A7;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
}

.loginbutton:hover {
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
}



.demandbutton {
    background: rgba(214, 61, 61, 0.65);
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid rgb(171, 68, 68);
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
    font-weight: bold;
}
  
.demandbutton:hover {
    background: rgba(214, 61, 61, 0.65);
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    letter-spacing: 1px;
    width: 180px;
    font-weight: bold;
}
    

.loginform-in fieldset label {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 0;
    width: 100px;
}

.loginform-in fieldset input[type="text"], input[type="password"], fieldset select {
    border: 0px;
    /* border-radius: 2px 2px 2px 2px; */
    /* float: left; */
    height: 32px;
    padding: 1px 1px 1px 10px;
    width: 180px;
    outline: none;
    border-radius: 10px;
}

.full-table-collapse-white {
    border-collapse: collapse;
    width: 100%;
    color: #000;
    font-weight: bold;
}

.statusprofil {
    padding-bottom: 20px;
}

.TitreSmallClassement {
    margin: auto;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.labelnomequipe {
    padding: 3px;
    font-size: 10px;
    color: #fff;
    margin: auto;
    background: #d42626;
    margin: 5px 21px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#login {
    background: #143cdb;
    width: 180px;
}

#demand {
    background: #00ba5d;
    width: 180px;
}

.material-icons.profilicon {
    font-size: 20px;
}

.pancarteMontagne {
    background: #009a46
}

.tdmontagne {
    color : #009a46;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

.matchmontagne {
    padding: 10px 20px;
    margin: 0 200px;
    background: #009a46;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
}


.viewEquipe {
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
   background: rgba(255, 255, 255, 0.45);
    margin: 0px 50px 20px;
}

.equipeContainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.equipeTitre {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}

.small-version {
        margin-top: 0px !important;
        margin: auto !important;
        width: 160px !important;
        min-height: 50px !important;
        height: 50px !important;
}

.middle-version {
    margin-top: 0px !important;
    margin: auto !important;
    width: 160px !important;
    min-height: 50px !important;
    height: 50px !important;
}

.TitreTableauBasBig {
    text-align: left;
    MARGIN: auto;
    /* padding-left: 20px; */
    font-size: 46px;
    /* padding-bottom: 5px; */
    /* padding-top: 5px; */
    font-weight: bold;
}

.TitreSmallClassementBig {
    margin: auto;
    font-size: 43px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.labelequipe {
    color: #FFFFFF;
    text-decoration: none;
}

.width100 {
    width: 100%;
}

a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect {
    background: #689dd1ad;
    color: #002c90;
    /* background: #e189a794; */
    border-radius: 10px;
    font-weight: bold;
}

.dateCalendar {
    margin: auto;
    width: 650px;
    margin-top: 20px;
    text-align: start;
}

span.dateCalendarText {
    margin: 70px;
    line-height: 40px;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}

.resumeJoker {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.jokerBig {
    width: 120px;
    padding-top: 20px;
}

.jokerMedium {
    width: 50px;
}

.jokerSmall {
    width: 38px;
}

.jokerdiv {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jokertile {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #72203c70;
    color: #380817;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.jokertext {
    padding: 15px;
}

.jokertextdiv {
    width: 780px;
    margin: auto;
    padding-top: 15px;
}

.jokerBigText {
    margin: 20px;
}

.availableJoker {
    display: flex;
    align-items: center;
}

.dayofStageText{
    font-size: 18px;
    font-weight: bold;
    color: #380817;
    padding: 10px 10px 10px 20px;
    background: #701e3978;
}

.availableJokerText{
    font-size: 18px;
    font-weight: bold;
    color: #380817;
    padding: 30px 30px 30px 60px;
}

.availableJokerImg {
    padding: 15px;
}

.jokerDisplayMatchs {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 371px;
    flex-wrap: wrap;
    background: #701e3978;
}

.jokerMatch {
    width: 380px;
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.tiret {
    padding: 0 6px;
}

/* IMAGE STYLES */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

[type=radio] + img {
cursor: pointer;
}
  
  /* CHECKED STYLES */
[type=radio]:checked + img {
    opacity: 1;
}

.jokerButton {
    padding: 0 8px;
    opacity: 0.5;
}

.paddingtop20 {
    padding-top: 20px;
}

.overflow {  
    height: 200px;  
  }  

.cadreprofil {
    background: #72203c70;
    color: #FFF;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin: 18px;
    padding: 3px 0px 6px 0px;
}

.cadreprofilsurnom {
    background: #72203c70;
    color: #FFF;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 3px 0px 22px 0px;
}

.cadreprofilsurnomBig {
    background: #72203c70;
    color: #FFF;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 3px 0px 22px 0px;
}


.logoEquipProfil {
    width: 23px;
    margin: 0 10px;
    border: 1px solid #ffffff;
}

.backgroundwhite {
    background: #ffffff91 !important;
}

.joueursimage {
    margin: 15px;
    border-color: #743957;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 10px;
}

.drapeausmall {
    display: inline;
    margin: 0px -3px;
    height: 100%;
    width: auto;
}

.image-cropper {
    border: 1px solid #FFF;
    width: 12px;
    height: 12px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    right: 0px;
  }

  
  .small-widget-content {
    height: 100%;
  }

 .totalbut {
    font-size: 34px;
    color: #002c90;
}
 .totatbutsmall {
    font-size: 20px;
    color: #002c90;
}

.totalbutmoyenne {
    font-size: 14px;
    color: #002c90;
}
 .totatbutsmallmoyenne {
    font-size: 9px;
    color: #002c90;
}


.minute {
    text-align: left;
    color: #002c90;
    line-height: 24px;
}

.scorers {
    color: #002c90;
    line-height: 19px;
    font-size: 16px;
    text-align: left;
    display: flex;
}

.scorer_name {
    width: 140px;
}


.gain {
    color: #002c90;
    line-height: 14px;
    font-size: 12px;
    text-align: left;
    display: flex;
    padding-left: 39px;
}

.gain_name {
    width: 60px;
}

.bar{
   height: 14px;
   padding: 0px;
}

.percentBar {
    border-collapse: collapse;
    margin: 12px auto; 
}

.nextmatchsoloteams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.logoEquipebigbig {
    width: 100px;
    margin: 5px;
}

.nextmatchsoloteamshomename {
    font-weight: bold;
    font-size: 20px;
}

.nextmatchsoloteamsawayname {
    font-weight: bold;
    font-size: 20px;
}

.nextmatchsoloteamsmiddle {
    font-size: 60px;
    font-weight: bold;
}

.nextmatchsolodate {
    font-size: 12px;
    font-weight: bold;
}

.nextmatchsolotime {
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
}

.nextmatchsolopronos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.lastmatchsolopronos {
    display: flex;
    justify-content: center;
}

.nextmatchsolopronosmiddle {
    width: 40px;
}

.lastmatchsolopronosmiddle {
    width: 20px;
    line-height: 27px;
}


.pancarteBigBig {
    background: rgb(0 0 0 / 85%);
    width: 50px;
    height: 50px;
    display: block;
    font-size: 40px;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%); */
}

.pancarteBigBigSmall {
    background: rgb(0 0 0 / 85%);
    width: 35px;
    height: 30px;
    display: block;
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%); */
}

.percentBarpronos {
    border-collapse: collapse;
    margin: 22px 40px 2px 40px;
}

.percentBarresult {
    border-collapse: collapse;    
    margin: 10px 40px 2px 40px;
}

.barpronos{
    height: 14px;
    padding: 0px;
 }

 .cadreTableauAcceuilOneMatch {
    height: 250px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

 .onematch-card-event.mdl-card {
  width: 415px;
  height: 324px;
  background: #ffffff91;
}
.onematch-card-event > .mdl-card__actions {
border-color: rgba(255, 255, 255, 0.2);
}
.onematch-card-event > .mdl-card__title {
align-items: flex-start;
padding: 10px 10px;
}
.onematch-card-event > .mdl-card__title > h4 {
margin-top: 0;
}
.onematch-card-event > .mdl-card__actions {
display: flex;
box-sizing:border-box;
align-items: center;
}
.onematch-card-event > .mdl-card__actions > .material-icons {
padding-right: 10px;
}
.onematch-card-event > .mdl-card__title,
.onematch-card-event > .mdl-card__actions,
.onematch-card-event > .mdl-card__actions > .mdl-button {
color: #002c90;
}

.firstbar {
    border-radius: 5px 0px 0px 5px;
}

.lastbar {
    border-radius: 0px 5px 5px 0px;
}

.onebar {
    border-radius: 5px;
}

span.scoretext {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}

.magintopless20 {
    margin-top: -26px;
}
.magintoplessline {
    margin-top: -23px;
}

.middleResultText, .resultText, .resultTextPoint {
    width: 120px;
    font-weight: bold;
    font-size: 18px;
}

span.textmatch {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #000;
}

.profilPageContent {
    width:100%;
    height:1600px;
    display:flex;
}

/* ------------------------- */

.profilPage {
    text-align: center;
    /* height: 367px; */
    margin: auto;
    padding: 0;
    background: #ffffff61;
    max-width: 1200px;
    border-radius: 0 0 20px 20px;
}

.profilPageContentNew {
    width:100%;
    padding-bottom: 40px;
    display:flex;
    flex-direction: column;
}

.profilPage-info {
    width:100%;
    /* height: 200px; */
    background: #ffffff4f;
    color: #002c90;
    padding-bottom: 12px;

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

.profilPage-info-perso {
    display:flex;
    flex-direction: column;
}

.profilPage-info-perso-surnom {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.profilPage-info-perso-photo-img {
    width: 170px;
    border-radius: 15px;
    border: solid 2px #FFF;
}

.profilPage-info-perso-modif {
    height: 38px;
}

.profilPage-info-perso-modifprofil {
    padding: 6px;
}

.profilPage-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.profilPage-content-pronos {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.profilPage-info-about {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profilPage-info-about-title {
    font-size: 17px;
    font-weight: bold;
    padding: 8px 15px;
}

.profilPage-info-about-title-petit {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
}

.profilPage-info-about-content {
    padding-left: 20px;
}

.profilPage-info-about-content-value {
    font-weight: bold;
}

.profilPage-info-about-profil {
    display: flex;
    justify-content: flex-end;
    width: 180px;
}

.profilPage-info-about-paiement{
    display: flex;
}

.profilPage-info-citation-content {
    font-family: 'Special Elite';
    font-weight: 100;
    font-size: 24px;
    max-width: 340px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 10px;
}

.profilPage-info-citation-content:before,
.profilPage-info-citation-content:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 8rem;
	height: 6rem;
}

.profilPage-info-citation-content:before {
	content: '“';
	left: -6rem;
	top: 0rem;
}

.profilPage-info-citation-content:after {
	content: '”';
	right: -5rem;
	bottom: 0rem;
}


.profilPage-info-citation-content-cite {
    font-family: "Kalam", cursive;
    padding-left: 200px;
    font-size: 18px;
}

.bonuscard {
    width: 300px !important;
}

input[type="number" i] {
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
}


.checkbox-wrapper-22 .switch {
display: inline-block;
height: 34px;
position: relative;
width: 60px;
}

.checkbox-wrapper-22 .switch input {
display:none;
}

.checkbox-wrapper-22 .slider {
background-color: #b74a4a;
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
background-color: #fff;
bottom: 4px;
content: "";
height: 26px;
left: 4px;
position: absolute;
transition: .4s;
width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
/* background-color: #66bb6a; */
background-color: #429b46;
}

.checkbox-wrapper-22 input:checked + .slider:before {
transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
border-radius: 50%;
}

.match-date {
    font-size: 25px;
}

.match-bars {
    padding-top: 29px;
}

.showmore {
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    background: #83b6d3;
    color: #002c90;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 15px;
    font-size: 12px;
    height: 25px;
    font-family: Arial;
}

.RetourSpan-profil {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 99;
    color: #ffffffab;
}

.RetourSpan-profil:hover {
    color: #ffffff;
}

.admin {
    margin: 0px 70px;
    background: #ffffff61;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.admin-date {
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.admin-match {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff42;
}

.admin-match-name {
    width: 120px;
}

.admin-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-buttons-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-button {
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin: 12px 36px;
}

.admin-bonus {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
}

.admin-bonus-line {
    display: flex;
    justify-content: space-between;
}

.admin-bonus-titre {
    padding: 10px;
    width: 230px;
}

.admin-bonus-value {
    padding: 10px;
}

.trombi {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

img.tombi-carte-content-photo-img {
    max-width: 180px;
    border-radius: 10px;
    border: solid 1px #FFF;
}

.tombi-carte {
    margin: 10px;
    width: 280px;
    background: #ffffff91;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tombi-carte-surnom {
    background: #1058c0;
    color: #FFF;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}

.tombi-carte-content {
    padding: 10px 10px 0 10px;
    flex-direction: column;
    justify-content: space-between;
}

.tombi-carte-content-info {
    padding: 10px 10px 0 10px;
}

.tombi-carte-content-info-citation {
    padding: 20px;
    font-family: 'Special Elite';
}

.tombi-carte-content-code {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 30px;
}

.tombi-carte-content-info-showmore {
    padding: 20px;
}

.profilPage-content-stat {
    padding: 0 42px;
}



.profilPage-content-stats-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
}

.profilPage-content-stats-bars-line {
    display: flex;
    width: 100%;
}

.profilPage-content-stats-bars-line-match {
    
    width: 45%;
    color: #FFF;
    display: flex;
    justify-content: end;
    padding: 2px 10px;
    text-align: left;
}

.profilPage-content-stats-bars-line-match-bar {
    padding-left: 10px;
    border-radius: 25px;
    line-height: 28px;
}

.profilPage-content-stats-bars-line-titre {
    font-weight: bold;
    font-size: 20px;
    padding: 8px;

    min-width: 80px;
}

.profilPage-content-stats-bars-line-point {
    width: 45%;
    display: flex;
    justify-content: start;    
    color: #FFF;
    padding: 2px 10px;
    
    text-align: right;
}

.profilPage-content-stats-bars-line-point-bar {
    padding-right: 6px;
    padding-left: 2px;
    border-radius: 25px;
    
    line-height: 28px;
}


.bar-perfect {
    background: #00b7ff;
    border: solid 2px #c0f4fa;
}

.bar-correct {
    background: #2bdf6e;
    border: solid 2px #b1f7c0;
}

.bar-inverse {
    background: #757575;
    border: solid 2px #cdcdcd;
}

.bar-echec {
    background: #ed1e25;
    border: solid 2px #ed9d9d;
}

.bar-bonus {
    background: #d9ca00;
    border: solid 2px #fff130;
}

.profilPage-content-stat-graph {
    display: flex;
    justify-content: center;
}


.profilPage-content-stats-waiting-titre {
    font-size: 30px;
    font-weight: bold;
    padding: 90px 50px 28px 50px;
    color: #3f3f3f;
}

.profilPage-content-stats-waiting-phrase {
    font-size: 18px;
    color: #3f3f3f;
    font-family: "Kalam", cursive;
}

.bonus-empty {
    font-size: 30px;
    font-weight: bold;
    padding: 90px 50px 28px 50px;
    color: #3f3f3f;
}

.bonus-empty-phrase {
    font-size: 18px;
    color: #3f3f3f;
    font-family: "Kalam", cursive;
    width: 80%;
    margin: auto;
    padding: 10px 0px 20px 0px;
}

.bonus-empty-phrase-middle {
    font-size: 18px;
    color: #3f3f3f;
    padding: 0px 0px 40px 0px;
}


.carousel-wrapper{
    width: 650px;
    position:relative;
    height: 130%;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    /* transition: all 0.5s ease-in-out; */
  }
  .arrow{
    border: solid #002c90;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 10px;
    border-radius: 7px;
  }
  
  .arrow-prev{
    left: 130px;
    position: absolute;
    top: 10px;
    transform: translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
    right: 130px;
    position: absolute;
    top: 10px;
    transform: translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }
      }
  
    .JourneeTitre {
        font-size: 20px;
        font-weight: bold;
        color: #002c90;
    }
 
.viewMatchTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    padding: 10px 0 2px 0;
    color: #002c90;
    background: #ffffff26;
}

.viewMatchTitlProfil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    padding: 10px 0 2px 0;
    color: #002c90;
    background: #ffffff26;
    border-radius: 20px 20px 0 0;
}

.viewMatchTitleDay {
    font-size: 20px;
    font-weight: bold;
}

.viewMatchTitleArrow, .viewProfilTitleNextDay, .viewProfilTitlePrevDay {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewMatchTitleArrowHidden {
    cursor: default;
    opacity: 0;
}

.viewCalendarTitleDay {
    font-size: 30px;
    font-weight: bold;
}

.viewCalendarTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    padding: 10px 0 2px 0;
    color: #002c90;
    /* background: #ffffff26; */
}

.viewCalendarTitleArrow {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewMatchTitleProfil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30px;
    padding: 10px 0 2px 0;
    color: #002c90;
    /* background: #ffffff26; */
}

.viewProfilTitleDay {
    font-size: 20px;
    font-weight: bold;
}

.viewProfilTitleArrow, .viewProfilTitleDay, .viewCalendarTitleDay, .viewMatchTitleDay {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}